tfoot {
  font-weight: bold;
}

th {
  text-align: left;
}

.img-summary {
  width: 250px;
}

@media screen and (max-width: 900px) {
  .img-summary {
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 16px;
  }
  .img-summary {
    width: 100px;
  }
}

.d-flex {
  display: flex;
}

.ml-1 {
  margin-left: 20px;
}


.checkout-summary {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .checkout-summary {
    display: none;
  }
}

.checkout-summary--small {
  display: grid;
  grid-template-columns: 1fr 25px;
  gap: 5px;
}

@media screen and (min-width: 500px) {
  .checkout-summary--small {
    display: none;
  }
}

.grid-1-3 {
  grid-column: 1 / 3;
}

.text-align-end {
  text-align: end;
}

.bold {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.btn-icon {
  border: none;
  background-color: unset;
  padding: 0;
  margin: 0;
}

.item-summary{
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.float-right{
  float: right;
}

.mr-1 {
  margin-right: 10px;
}

.align-self-center{
  align-self: center;
}