.container {
  padding: 0 var(--spacing) var(--spacing) var(--spacing);
}

.header {
  padding: 30px;
  background: var(--second-backgrund);
  display: flex;
  align-items: center;
}

.color-1 {
  color: #d5896f;
}
.color-2 {
  color: #70a288;
}
.color-3 {
  color: #d5896f;
}
.color-4 {
  color: #70a288;
}
.color-5 {
  color: #d5896f;
}
.color-6 {
  color: #70a288;
}
.color-7 {
  color: black;
}

.header-link {
  text-decoration: none;
  padding-right: 50px;
}

.header-logo {
  margin-top: 0;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0;
  /* font-family: 'Aladin', cursive; */
  /* font-family: 'Chela One', cursive; */
  font-family: 'Concert One', cursive;
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Kavoon', cursive; */
  /* font-family: 'Macondo Swash Caps', cursive; */
  /* font-family: 'Monofett', cursive; */
  /* font-family: 'Original Surfer', cursive; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Salsa', cursive; */
  /* font-family: 'Spicy Rice', cursive; */
}

.nav {
  width: 100%;
  align-items: center;
}

.nav-link {
  padding: var(--spacing);
  text-decoration: none;
  font-size: 20px;
}

.nav-link--left {
  float: left;
}

.nav-link--right {
  float: right;
}

.is-active {
  text-decoration: underline;
  text-underline-offset: 3.61011px;
}

@media screen and (max-width: 700px) {
  .header {
    display: block;
  }
  .nav-link--left {
    float: none;
  }

  .nav-link--right {
    float: none;
  }
}
