.container {
  padding: 0 var(--spacing) var(--spacing) var(--spacing);
}

.header {
  padding: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: var(--backgrund);
  z-index: 999;
}

.color-1 {
  color: var(--backgrund2);
}

.color-2 {
  color: var(--backgrund3);
}

.color-3 {
  color: var(--backgrund2);
}

.color-4 {
  color: var(--backgrund3);
}

.color-5 {
  color: var(--backgrund2);
}

.color-6 {
  color: var(--backgrund3);
}

.color-7 {
  color: black;
}

.header-link {
  text-decoration: none;
  padding-right: 50px;
}

.header-logo {
  margin-top: 0;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0;
  font-family: 'Concert One', cursive;
}

.nav {
  width: 100%;
  align-items: center;
}

.nav-link {
  padding: var(--spacing);
  text-decoration: none;
  font-size: 20px;
}

.nav-link--left {
  float: left;
}

.nav-link--right {
  float: right;
}

.is-active {
  text-decoration: underline;
  text-underline-offset: 3.61011px;
}

@media screen and (max-width: 700px) {
  .header {
    display: block;
  }

  .nav-link--left {
    float: none;
  }

  .nav-link--right {
    float: none;
  }
}