.product-page {
  padding: var(--spacing-xl) var(--spacing) var(--spacing) var(--spacing);
}

.product-container {
  display: flex;
}

.product-left-box {
  width: 50%;
}

.product-image-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.product-image {
  max-width: 100%;
  border-radius: var(--border-radius);
}

.product-right-box {
  width: 50%;
  padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing-xl);
}

@media screen and (max-width: 700px) {
  .product-container {
    display: block;
  }
  .product-left-box {
    width: 100%;
  }
  .product-right-box {
    width: 100%;
    padding: 0;
  }
}