.shop-container {
  padding: var(--spacing);
}

div.gallery {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 20px rgba(96, 89, 76, 0.15);
  background-color: var(--btn-color2);
}

div.gallery:hover {
  border: 1px solid white;
  /* box-shadow: 5px 5px 8px black, 10px 10px 8px gray, 15px 15px 8px */
  box-shadow: 0 10px 20px rgba(96, 89, 76, 0.2);
  transform: translateY(-5px);
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.toolbar {
  padding: var(--spacing-xl);
}

select {
  padding: 10px;
  min-width: 500px;
  border: 2px solid #ced4da;
  border-radius: 5px;
  font-size: large;
}

@media screen and (max-width: 700px) {
  select {
    min-width: unset;
  }
}

label {
  margin-right: var(--spacing);
}

.btn {
  background-color: var(--btn-color2);
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: bold;
  padding: 10px;
  margin-right: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--border-radius);
  cursor: pointer;
  min-width: 100px;
}

.btn:hover,
.btn-active,
.btn-active:hover {
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  color: var(--btn-color2);
}