:root {
  --backgrund: #f8f3ea;
  --backgrund2: #a26769;
  --backgrund3: #6d2e46;
  --border-radius: 5px;
  --spacing: 10px;
  --spacing-xl: 20px;
  --btn-color: #6d2e46;
  --btn-color2: #fcfaf7;
}

html,
body {
  margin: 0px;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  background-color: var(--backgrund);
}

.wrapper,
#root,
.app,
.main {
  height: 100%;
}

h1 {
  line-height: normal;
}

a {
  color: black;
  text-underline-offset: 3.61011px;
}

p {
  max-width: 640px;
}

.margin-b-0 {
  margin-bottom: 0;
}

.margin-t-0 {
  margin-top: 0;
}

.app {
  font-family: 'Raleway', sans-serif;
}

.main {
  width: 100%;
  padding-top: 108px;
}

@media screen and (max-width: 700px) {
  .main {
    padding-top: 164px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-right: 100px;
}

.row>.column:first-child {
  padding-left: 100px;
}

@media screen and (max-width: 1000px) {
  .column {
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .row>.column:first-child {
    padding-left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .row {
    display: block;
  }

  .column {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .row>.column:first-child {
    padding-left: 20px;
  }
}